
<div class="row p-5 bg-white mb-5">
    <div class="row border-top border-bottom p-4">
        <div class="col-8 m-2">
            <div class="d-flex">
            <h2 style="font-size: 40px;">This First Heading</h2> &nbsp; <h2 class="text-secondary" style="font-size: 40px;">Will Catch Your Eye</h2>
            </div>
            <p class="text-start" style="font-size: 20px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum corporis, ullam voluptatibus eveniet ut atque, a, pariatur aspernatur eaque dicta incidunt quod maiores minus culpa magnam repellat facilis quos libero. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, dolores est, cumque odit nobis beatae totam vel possimus eius, minus expedita nihil exercitationem provident? Ea voluptatibus perferendis officiis eos nisi.</p>
        </div>
        <div class="col-1 p-2">
            <img src="https://raw.githubusercontent.com/leonarmed/exercise-collaborative-html-website/master/website/assets/img/1.jpg" class="rounded-circle" style="width: 500px;">
        </div> 
    </div>
</div>    
