<div class="row">
    <div class="col-12 bg-image container-fluid p-2 text-center" style="background-image: url('https://raw.githubusercontent.com/leonarmed/exercise-collaborative-html-website/master/website/assets/img/bg.jpg'); background-repeat: no-repeat; background-position: right bottom, left top; height: 100vh;">
        <div style="margin-top: 250px;">
            <h1 class="bg-white bg-opacity-75" style="font-size: 150px">One Page Wonder</h1>
            <h2 class="bg-white bg-opacity-75" style="font-size: 110px">Will Knock Socks Off</h2>  
        </div>
    </div>
</div>
