<div class="row bg-whitegi">
    <div class="col-12 bg-image container-fluid p-4 text-center" style="background-image: url('https://raw.githubusercontent.com/leonarmed/exercise-collaborative-html-website/master/website/assets/img/bg.jpg'); background-repeat: no-repeat; height: 1080px; max-width: 100%;">
       <div style="margin-top: 150px;">
        <h1 class="bg-white bg-opacity-75" style="font-size: 120px">One Page Wonder</h1>
        <h2 class="bg-white bg-opacity-75" style="font-size: 100px">Will Knock Socks Off</h2>  
        </div> 
    </div>
</div>
