<div class="bg-image container-fluid p-0" style="background-image: url('https://raw.githubusercontent.com/leonarmed/exercise-collaborative-html-website/master/website/assets/img/bg.jpg'); background-repeat: no-repeat; background-position: right bottom, left top; height: 100vh;">
    <div class="text-center p-3 container-fluid" style="width: 1920px;">
        <div style="margin-top: 100px;">
            <h1 class="bg-white bg-opacity-75" style="font-size: 150px">One Page Wonder</h1>
            <h2 class="bg-white bg-opacity-75" style="font-size: 110px">Will Knock Socks Off</h2>  
        </div>
    </div>
</div>
